@model IEnumerable<WaterCompanyWeb.Data.Entities.WaterMeter>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn"> <i class="fa-solid fa-user-plus fa-fade fa-2xl" style="color: #9A8174;"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumptionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalConsumption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalConsumption)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn"> <i class="fa-solid fa-pen-to-square fa-lg" style="color: #9A8174;"></i></a> @*EDIT BUTTON*@
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn"> <i class="fa-solid fa-info fa-lg" style="color: #9A8174;"></i></a> @*DETAILS BUTTON*@
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn"> <i class="fa-solid fa-trash-can fa-lg" style="color: #9A8174;"></i></a> @*DELETE BUTTON*@
            </td>
        </tr>
}
    </tbody>
</table>
